[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"


[requires]

python_version = "3.7"


[packages]

docopt = "*"
stringcase = "*"
"pytest-flake8" = "*"
pyfluidsynth = "*"
async-timeout = "*"


[dev-packages]

"flake8" = "*"
pytest = "*"
"pytest-flake8" = "*"
pylint = "*"
pycodestyle = "*"
pydocstyle = "*"
pytest-cov = "*"
asynctest = "*"
pytest-asyncio = "*"
